---
- name: Enable TLS 1.3 on Ubuntu Server
  hosts: all
  become: yes

  vars:
    openssl_conf: /etc/ssl/openssl.cnf
    openssl_backup: /etc/ssl/openssl.cnf.bak

  tasks:

    - name: Ensure OpenSSL is installed
      apt:
        name: openssl
        state: latest
        update_cache: yes

    - name: Backup existing OpenSSL configuration
      copy:
        src: "{{ openssl_conf }}"
        dest: "{{ openssl_backup }}"
        remote_src: yes
        owner: root
        group: root
        mode: '0644'
      when: openssl_conf is file

    - name: Ensure OpenSSL system default section exists
      lineinfile:
        path: "{{ openssl_conf }}"
        regexp: '^openssl_conf'
        line: 'openssl_conf = openssl_init'
        insertafter: '^#.*openssl_conf'
        state: present

    - name: Add OpenSSL initialization block
      blockinfile:
        path: "{{ openssl_conf }}"
        marker: "# {mark} ANSIBLE TLS CONFIG"
        block: |
          [openssl_init]
          ssl_conf = ssl_sect

          [ssl_sect]
          system_default = system_default_sect

          [system_default_sect]
          MinProtocol = TLSv1.2
          MaxProtocol = TLSv1.3
          CipherString = DEFAULT:@SECLEVEL=2

    - name: Restart common TLS-dependent services (if installed)
      service:
        name: "{{ item }}"
        state: restarted
      loop:
        - ssh
        - nginx
        - apache2
      ignore_errors: yes
